/* Importar fuentes: Define fuentes personalizadas desde archivos externos */

/* Define la fuente personalizada BBHSansBartle */
@font-face {
    font-family: BBHSansBartle; /* Nombre asignado a la fuente */
    src: url(../font/BBHSansBartle/BBHSansBartle-Regular.ttf); /* Ruta al archivo de la fuente */
}

/* Define la fuente personalizada Montserrat */
@font-face {
    font-family: Montserrat; /* Nombre asignado a la fuente */
    src: url(../font/Montserrat/Montserrat-Italic-VariableFont_wght.ttf); /* Ruta al archivo de la fuente */
}

/* Estilos para el encabezado h1 */
h1 {
    font-family: BBHSansBartle; /* Aplica la fuente personalizada BBHSansBartle */



    /* Colores */



    /* colores del sistema */
    color: mediumpurple; /* Define el color del texto como morado medio usando un nombre predefinido */
    /* color: transparent; */ /* Si se descomenta, hace el texto transparente (invisible) */

    /* colores exadecimales */
    color: #000000; /* Define el color como negro puro (#000000 = 0 rojo, 0 verde, 0 azul) */

    color: #cccccc; /* Define el color como gris claro (#cccccc = 204 rojo, 204 verde, 204 azul) */

    color: #eeeeee; /* Define el color como gris muy claro, casi blanco (#eeeeee = 238 rojo, 238 verde, 238 azul) */

    /* Colores RGB y RGBA: Usa valores numéricos para rojo, verde, azul y opacidad */

    color: rgba(red, green, blue, alpha); /* Plantilla para definir color con rojo, verde, azul (0-255) y opacidad (0-1) */

    color: rgb(223, 10, 10); /* Define el color como rojo intenso (223 rojo, 10 verde, 10 azul, sin opacidad) */
}

/* Estilos para el subtítulo h3 */
h3 {
    font-family: Montserrat, "Comic Sans MS"; /* Aplica Montserrat, con Comic Sans MS como respaldo */
    font-size: 30px; /* Tamaño de fuente */
    font-weight: lighter; /* Peso de fuente más ligero */
    color: olive; /* Color verde oliva para el texto */
}

/* Estilos para párrafos p */
p {
    font-family: Montserrat; /* Aplica la fuente personalizada Montserrat */
    font-size: 18px; /* Tamaño de fuente */
    font-weight: bold; /* Texto en negrita */
}